@charset "UTF-8";

* {
    margin: 0;
    padding: 50;
}

:root {
    --branco-fundo: #fff;
    --cinza-slides: #B8B8B8;
    --azul-principal: #005594;
    --azul-rodape: #004476; 
    --azul-fonte: #002139;
    --laranja-principal: #F38143; 
    --laranja-fraco: #F6BF86;
    
    --font-principal: "Josefin Sans", sans-serif;
  }

body {
    font-family: var(--font-principal);
    color: var(--azul-fonte);
    font-size: 1.125rem;
}

main {
    line-height: 25px;
}

.banner {
    margin-top: 72px;
    height: 163px;
    width: 100%;
    background: url('../imgs/cursos-imgs/banner\ ti2.png') no-repeat;
    display: flex;
    align-items: end;
    color: var(--branco-fundo);
    background-position: center center;
}

.banner > div {
    margin: 30px 17px;
}

.banner > div > h1 {
    font-size: 2.1rem;
    line-height: 33px;
}

.definicao {
    margin: 0px 30px;
}

.definicao h2 {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

.definicao img {
    width: 100%;
    margin-bottom: 15px;
}

.definicao p {
    margin-bottom: 15px;
}

.titulo {
    margin-top: 35px;
    padding: 10px;
    background-color: var(--azul-principal);
    color: var(--branco-fundo);
    text-align: center;
}

.cursos {
    margin: 0px 30px;
}

.cozinhareg_nome {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--laranja-principal); 
    height: auto;
    padding-top: 3px;
    padding-left: 10px;
}

.cursos_cozinhareg > p {
    margin-bottom: 25px;
}

.cursos_cozinhareg > ul {
    padding-inline-start: 18px;
    margin-bottom: 25px;
}

.cursos_cozinhareg > ul > li {
    margin-bottom: 5px;   
} 

.carousel p {
    height: 188px;
    background: url('../imgs/cursos-imgs/caixa-periodo.png') no-repeat;
    background-size: 100%;
    color: var(--branco-fundo);
    text-align: center;
    line-height: 25px;
    padding-top: 20px;
}

  #prevButton, #nextButton{
    color: var(--azul-principal);
    font-size: 1.8rem;
}

.botoes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.botoes_passar {
    margin-bottom: 40px;
    margin-top: 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    gap: 30px;
}

.passar_bolinhas {
    margin-right: 48px;
    width: 45px;
    display: flex;
    justify-content: space-between;
}

.circle {
    margin: 0px 8px;
    font-size: 8px;
    background-color: var(--cinza-slides);
    color: var(--cinza-slides);
    border-radius: 50%;
}

.botoes_saiba {
    background-color: var(--laranja-principal);
    color: var(--branco-fundo);
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 5px;
}

.carousel .slide {
    display: none;
}

.carousel .active {
    display: block;
}

.carousel img {
    width: 100%;
    height: auto;
}

hr {
    width: 290px;
    margin: auto;
    border: 1px solid var(--laranja-principal);
    margin-bottom: 40px;
}

.interesse {
    margin: 0px 30px 30px 30px;
}

.interesse_titulo {
    height: 120px;
    background: url('../imgs/cursos-imgs/gostou-titulo-pequeno.png') no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.interesse_titulo h3 {
    color: var(--branco-fundo);
}

.titulo_desk {
    display: none;
}

.interesse_texto {
    margin-top: 20px;
}

.interesse_texto p {
    margin-bottom: 20px;
}

.interesse_texto > div {
    display: flex;
    justify-content: center;
}

.interesse_texto a {
    color: var(--branco-fundo);
    background-color: var(--azul-principal);
    text-decoration: none;
    padding: 18px 30px;
    border-radius: 25px;
    margin-top: 20px;
}

.interesse_fotos {
    margin-top: 50px;
}

.fotos_menores {
    display: flex;
    gap: 10px;
    width: 100%;
}

.fotos_menores > img {
    width: 50%;
    margin-bottom: 10px;
}

.fotos_chefs {
    margin: auto;
    width: 100%;
    margin-left: 2px;
}

.fotos_chefs > img {
    width: 100%;
    
}

@media screen and (min-width: 400px) {
    .interesse_titulo {
        background: url('../imgs/cursos-imgs/gostou-titulo-grande.png') no-repeat;
        background-size: 100%;
        height: 110px;
    }
}

@media screen and (min-width: 390px){
    .carousel p {
        padding-top: 28px;
    }
}

@media screen and (min-width: 420px) {
    .carousel p {
        padding-top: 35px;
        line-height:28px;
    }
}

@media screen and (min-width: 1024px) {
    main {
        line-height: 35px;
    }

    .banner { 
        background-image: url('img');
        height: 550px;
        width: 1950;
    }

    .banner > div {
        width: 1200px;
        margin: 800px auto 100px auto;
    }
    
    .banner > div > h1 {
        font-size: 3.75rem;
        margin-left: 60px;
    }

    .definicao {
        margin: 0px 60px;
    }
    
    .definicao > div {
        margin: 80px auto;
        max-width: 1200px;
    }

    .definicao h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 80px;
        font-weight: 600;
    }

    .apresenta {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .apresenta > div {
        width: 500px;
        margin-right: 60px;
    }

    .apresenta > article {
        width: 500px;
        padding-right: 20px;
        border-right: 3px solid #F38143;
    }

    .apresenta p {
        text-align: end;
    }

    .titulo {
        margin-top: 0;
        padding: 45px 50px 45px 0px;
        font-size: 3.1rem;
    }

    .cursos {
        margin: 80px 60px;
    }

    .cursos > div {
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 1200px;
    }

    .cursos_cozinhareg {
        width: 600px;
        margin-right: 40px;
    }

    .cozinhareg_nome {
        border-left: 3px solid var(--laranja-principal);
        padding-left: 25px; 
        padding-top: 10px;
        line-height: 40px;
        margin-bottom: 40px;
        font-size: 1.6rem;
    }

    .titulo_mobile {
        display: none;
    }

    
    .carousel {
        padding-top: 20px;
    }
    
    .carousel img {
        width: 450px;
    }
    
    #prevButton, #nextButton {
        font-size: 2.2rem;
    }
    
    .circle {
        font-size: 10px;
    }
    
    hr {
        width: 360px;
        border: 2px solid var(--laranja-principal);
        margin-top: 80px;
        margin-bottom: 80px;
    }
    
    .carousel p {
        padding-top: 30px;
        font-size: 1.25rem;
        line-height: 40px;
        margin-bottom: 20px;
    }
    
    .interesse {
        margin: 80px 60px;
    }
    
    .interesse > div {
        margin: auto;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .titulo_desk {
        display: block;
        font-size: 1.5rem;
    }

    .interesse_titulo {
        width: 575px;
        background: url('../imgs/cursos-imgs/fotos-maior/gostou-titulo-maior.png') no-repeat;
        background-size: 100%;
        height: 85px;
        margin: auto;
    }

    .interesse_texto p {
        margin-bottom: 25px;
        line-height: 30px;
    }

    .interesse_texto > div {
        margin-bottom: 60px;
    }

    .interesse_fotos {
        margin-top: 0;
    }
    
    .conteudo {
        max-width: 1000px;
        text-align: center;
    }
 
}

@media screen and (min-width: 1300px) {
    .interesse > div {
        flex-direction: row;
    }

    .interesse_titulo {
        margin-bottom: 40px;
    }

    .conteudo {
        max-width: 600px;
        text-align: left;
        margin-right: 60px;
    }

    .interesse_texto {
        border-left: 3px solid var(--laranja-principal);
        padding-left: 30px;
    }
}