@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-fundo: #fff;
    --cinza-slides: #B8B8B8;
    --azul-principal: #005594;
    --azul-rodape: #004476; 
    --azul-fonte: #002139;
    --laranja-principal: #F38143; 
    --laranja-fraco: #F6BF86;
    
    --font-principal: "Josefin Sans", sans-serif;
  }

.banner {
    margin-top: 72px;
    height: 163px;
    width: 100%;
    background: url('../imgs/portfoliogeral-imgs/banner-portifoliogeral.png') no-repeat;
    display: flex;
    align-items: end;
    color: var(--branco-fundo);
    background-position: center center;
}

.banner > div {
    margin: 30px 17px;
}

.banner > div > h1 {
    font-size: 2.1rem;
    line-height: 33px;
}

.titulo_professores {
    margin: 40px auto 18px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 54px;
    background-image: url('../imgs/portfoliogeral-imgs/retangulo-professores.png');
    background-repeat: no-repeat;
    color: var(--branco-fundo);
}

.titulo_professores h2 {
    font-size: 1.5rem;
}

.titulo_alunos {
    margin: 0px auto 18px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 49px;
    color: var(--branco-fundo);
    background-image: url('../imgs/portfoliogeral-imgs/retangulo-alunos.png');
    background-repeat: no-repeat;
}

#prevButton, #nextButton{
    color: var(--azul-principal);
    font-size: 1.8rem;
}

.botoes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.botoes_passar {
    margin-bottom: 40px;
    margin-top: 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    gap: 30px;
}

.passar_bolinhas {
    margin-right: 48px;
    width: 0px;
    display: flex;
    justify-content: space-between;
}

.circle {
    margin: 0px 8px;
    font-size: 8px;
    background-color: var(--cinza-slides);
    color: var(--cinza-slides);
    border-radius: 50%;
}

.carousel .slide {
    display: none;
}

.carousel .active {
    display: block;
}

.carousel img {
    max-width: 100%;
    height: auto;
}

.carousel {
    margin-right: 15px;
    margin-left: 15px; 
    text-align: center;
}

.slide h3 {
    margin-top: 10px;
}

.passar_bolinhas_alunos {
    margin-right: 48px;
    width: 45px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1024px){
    .banner {
        background: url('../imgs/portfoliogeral-imgs/maior/banner-maior.png') no-repeat;
        height: 400px;
        background-position: top center;
    }

    .banner div {
        width: 1200px;
        margin: 400px auto 100px auto;
    }

    .banner > div > h1 {
        font-size: 3.75rem;
        padding-left: 60px;
    }



    .carousel {
        margin: 60px;
    }

    .carousel .slide {
        display: block;
    }

    .slide {
        display: flex;
        flex-direction: row;
    }

    .botoes {
        display: none;
    }

    .carousel_users {
        display: flex;
        gap: 40px;
        max-width: 1200px;
        margin: auto;
        padding-right: 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }

    .carousel_users > div {
        
    }
}